@using TravelExpenseTracker.Domain
@model IEnumerable<TripViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container pt-3">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <h1>Current Trips</h1>
        <a asp-controller="Trips" asp-action="Create" class="btn btn-primary">Add Trip</a>
    </div>
    <div class="row">
        @foreach (TripViewModel item in Model)
        {     
            <div class="col col-xl-4 col-lg-6 col-sm-12 mt-3 mb-3">
                <div class="card border-secondary text-white bg-dark mb-3 h-100 w-100">
                    <div class="card-header h5">@item.Trip.Name</div>
                    <div class="card-body bg-white text-dark rounded-bottom pb-0">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <h6 class="text-info">@item.Trip.StartDate.ToString("MMM-dd") thru @item.Trip.EndDate.ToString("MMM-dd")</h6>
                            <a asp-area="" asp-controller="Expenses" asp-action="Create" asp-route-tripId="@item.Trip.Id" class="btn btn-success">Add Expense</a>
                        </div>
                        <p class="card-text">@item.Trip.Description</p>

                        @{
                            var expenseSummary = item.ExpenseSummary;
                            var allCategories = Enum.GetValues<ExpenseCategory>()
                            .Select(cat => new
                            {
                                Category = cat.ToString(),
                                Amount = expenseSummary.CategoryBreakdown?.GetValueOrDefault(((int)cat).ToString(), 0m) ?? 0m,
                                Count = expenseSummary.CategoryCounts?.GetValueOrDefault(((int)cat).ToString(), 0) ?? 0
                            })
                            .OrderByDescending(x => x.Amount)
                            .ToList();
                        }                             
                       
                        <div class="list-group">
                            @foreach (var category in allCategories)
                            {
                                <a href="#" class="list-group-item @TripViewModel.CategoryClasses.GetValueOrDefault(category.Category, "bg-dark")">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-1">@category.Category</h6>
                                        <span class="badge rounded-pill bg-secondary">@category.Count</span>
                                        <span class="badge rounded-pill bg-dark">@category.Amount.ToString("C")</span>
                                    </div>
                                </a>
                            }                         
                        </div>
                        <div class="d-flex justify-content-end pt-3">
                            <a asp-controller="Trips" asp-action="Details" asp-route-Id="@item.Trip.Id" class="card-link">View Details</a>
                        </div>
                </div>
            </div>
        </div>      
    }
    </div>
</div>
